{% extends 'base.html' %}
{% block content %}
<h1>{{ movie.title }}</h1>
<p>{{ movie.description }}</p>
<p>Added by {{ movie.user.username }} on {{ movie.created_at }}</p>
{% if movie.user == user %}
<p><a href="{% url 'movie_update' pk=movie.id %}">Edit Movie</a></p>
<p><a href="{% url 'movie_delete' pk=movie.id %}">Delete Movie</a></p>
{% endif %}
{% if reviews.count > 0 %}
<h3>{{ reviews.count }} Review{{ reviews.count|pluralize }}:</h3>
{% endif %}
{% for review in reviews %}
<div class="panel">
  <p>{{ review.text }}</p>
  {% if review.user == user %}
  <p><a href="{% url 'review_update' movie_pk=movie.id review_pk=review.id %}">Edit review</a></p>
  <p><a href="{% url 'review_delete' movie_pk=movie.id review_pk=review.id %}">Delete review</a></p>
  {% endif %}
  <p>Written by {{ review.user.username }} on {{ review.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'review_create' pk=movie.id %}">Write review</a></p>
{% endblock %}
