{% extends 'base.html' %}
{% block content %}
<h1>{{ movie.title }}</h1>
{% if rating.rating__avg < 0.5 %}
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 1.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 2.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 3.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 4.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% else %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  ({{ rating.rating__avg }})
{% endif %}
<p>{{ movie.description }}</p>
<p>Added {% if movie.visibility == 0 %} by <a href="{% url 'user_detail' slug=movie.user.username %}">{{ movie.user.username }}</a> {% endif %} on {{ movie.created_at }}</p>
{% if movie.user == user %}
<p><a href="{% url 'movie_update' pk=movie.id %}">Edit movie</a></p>
<p><a href="{% url 'movie_delete' pk=movie.id %}">Delete movie</a></p>
{% endif %}
{% if review.count > 0 %}
<h3>{{ reviews.count }} Review{{ reviews.count|pluralize }}:</h3>
{% endif %}
{% for reivew in reviews %}
<div class="panel">
  <p>{{ review.text }}</p>
  {% if review.user == user %}
  <p><a href="{% url reivew 'review_update' movie_pk=movie.id review_pk=review.id %}">Edit review</a></p>
  <p><a href="{% url review 'review_delete' movie_pk=movie.id review_pk=review.id %}">Delete review</a></p>
  {% endif %}
  <p>Reviewed {% if movie.visibility == 0 %} by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username}}</a> {% endif %} on {{ review.created_at }} {{ review.vote_set.all.count }} Vote{{ review.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ review.vote_set.all.count }} Vote{{  review.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="reivew" value="{{ review.id }}" />
    <input type="hidden" name="movie" value="{{ movie.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if review in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    {% endif %}
</form>
</div>
{% endfor %}
{% if not user_reviews %}
<p><a href="{% url 'review_create' pk=movie.id %}">Write review</a></p>
{% endif %}
{% endblock %}